DATABASE_URL=postgresql://justmango:justmango@host.docker.internal/vcl?sslmode=disable
DATABASE_MIN_CONNECTIONS=0
DATABASE_MAX_CONNECTIONS=8

REDIS_URL=redis://localhost:6379
REDIS_MAX_CONNECTIONS=8

HOST_ADDRESS=0.0.0.0:8080
SITE_URL=http://localhost:8080
