DATABASE_URL=none
DATABASE_MIN_CONNECTIONS=0
DATABASE_MAX_CONNECTIONS=8

REDIS_URL=redis://localhost:6379
REDIS_MAX_CONNECTIONS=8

AUTH_HOST_ADDRESS=0.0.0.0:8081
AUTH_SITE_URL=http://localhost:8080

# Social Auth
DISCORD_CLIENT_ID=none
DISCORD_CLIENT_SECRET=none
# Games Auth
OSU_CLIENT_ID=none
OSU_CLIENT_SECRET=none
